/* Remove default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

.login-container {
  width: 100%;
  height: 100vh;  /* 100% of the viewport height */
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url("images/bg1.jpg") center no-repeat;
  background-size: cover; /* Makes background full screen */
}

/* ======================== Start Screen Banner CSS ======================== */

.banner {
  color: #fff;
  width: 950px;
  position: absolute; /* Positioned relative to the nearest positioned ancestor (here login-container)*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* Change row to column and vise-versa */
  flex-direction: column; /* Choose direction of flex */
  justify-content: center; /* centers content based on main axis (here y-axis)*/
  align-items: center; /* centers items based on the opposite of main axis (here x-axis)*/
}

.banner-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #fff;
}

.arrows-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  font-size: 40px;
  margin-right: 30px;
  animation: anim-left 3s infinite;
}

.arrow-right {
  font-size: 40px;
  margin-left: 30px;
  animation: anim-right 3s infinite;
}

.banner-btn {
  width: 200px;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  transition: transform .3s;
}

.banner-btn:hover {
  transform: translateY(-2px);
}

@keyframes anim-left {
  0% {transform: translateX(0);}
  20% {transform: translateX(0);}
  40% {transform: translateX(-30px);}
  50% {transform: translateX(0);}
  60% {transform: translateX(-15px);}
  80% {transform: translateX(0);}
  100% {transform: translateX(0);}
}

@keyframes anim-right {
  0% {transform: translateX(0);}
  20% {transform: translateX(0);}
  40% {transform: translateX(30px);}
  50% {transform: translateX(0);}
  60% {transform: translateX(15px);}
  80% {transform: translateX(0);}
  100% {transform: translateX(0);}
}


/* ============================ Sign-up Form CSS ============================ */

.form-container {
  display: flex;
  width: 750px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.sign-up-form {
  width: 50%;
  background-color: #232328;
  padding: 120px 50px; /* left and right padding increases width more than 50% */
  box-sizing: border-box; /* This helps to keep the width back to 50% */
  position: relative;
}

.form-input {
  width: 250px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #cc683c;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  margin-bottom: 50px;
  padding: 10px 0;
  transition: border-bottom-color .8s; /* Give animation to border-bottom color */
}

.form-input:focus {
  border-bottom-color: #cc683c; /* Appears when clicking on box */
}

.sign-up-form button {
  width: 150px;
  padding: 8px 5px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  border-radius: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  left: 55px;
  bottom: 100px;
  transition: transform .3s;
}

.sign-up-form button:hover {
  transform: translateY(-2px);
}

.header {
  width: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)),
              url(images/bg2.jpg) center no-repeat;
  background-size: cover;
  box-shadow: -10px 0 30px rgba(0, 0, 0, .3);
  position: relative;
}

.header h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-family: 'Oswarld', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.x-btn {
  position: absolute;
  bottom: -7%;
  right: 1%;
  font-size: 23px;
  font-weight: bold;
  color: #262626;
  cursor: pointer;
}









/*  */
