{% extends 'base.html' %}

{% block css_link %}
<link rel='stylesheet' href="{{ url_for('static', filename='chat_room.css') }}">
{% endblock %}

{% block body %}

<script type="text/javascript">
  const socket = io();

  socket.on('connect', () => {
    socket.emit('join_room', {
    username: "{{ username }}",
    room: "{{ room._id }}"
    });


    let message_input = document.querySelector(".msg-input-box");
    document.querySelector(".input-box-btn").onsubmit = (e) => {
      e.preventDefault();
      let message = message_input.value.trim();
      if (message.length) {
          socket.emit('send_message', {
            username: "{{ username }}",
            room: "{{ room._id }}",
            message: message
        });
      };
      message_input.value = '';
      message_input.focus();
    };


    let page = 0;
    document.getElementById('load-older-messages-btn').onclick = (e) => {
      page += 1;
      fetch('/rooms/{{ room._id }}/history?page=' + page, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        response.json().then(messages => {
          messages.reverse().forEach(message => prepend_messages(message.text, message.sender, message.send_time))
        })
      })
    }


    function prepend_messages(message, username, send_time) {
      const newNode = document.createElement('div');
      newNode.className = "user-msg";
      newNode.innerHTML = `<p class="message"><b>${ username }</b>: ${ message }</p>
                           <p class="msg-time">${ send_time }</p>`;
      const messages_div = document.querySelector('.chat-content-area')
      messages_div.insertBefore(newNode, messages_div.firstChild);
    }


    // window.onbeforeunload = () => {
    //   socket.emit('leave_room', {
    //     username: "{{ username }}",
    //     room: "{{ room._id }}"
    //   })
    // };


    document.querySelector('.navbar-link').addEventListener('click', () => {
      socket.emit('leave_room', {
      username: "{{ username }}",
      room: "{{ room._id }}"
      });
    });
  });


  socket.on('receive_message', (data) => {
    const newNode = document.createElement('div');
    newNode.className = "user-msg";
    newNode.innerHTML = `<p class="message"><b>${ data.username }</b>: ${ data.message }</p>
                         <p class="msg-time">${ data.send_time }</p>`;
    document.querySelector('.chat-content-area').appendChild(newNode);
  })


  socket.on('join_room_announcement', (data) => {
    if (data.username.length) {
      const chat_area = $('.chat-content-area');
      chat_area.append(`<p class="user-msg"><b>${ data.username }</b> has joined the chat.</p>`);
  }});


  socket.on('leave_room_announcement', (data) => {
    const chat_area = $('.chat-content-area');
    chat_area.append(`<p class="user-msg"><b>${ data.username }</b> has left the chat!</p>`);
  });

</script>


<!-- Navbar with a brand and a log out button. -->
<header id="navbar">
  <nav class="navbar-container container">
    <a class="navbar-brand" href="#">Chat Room</a>
    <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-menu">
      <ul class="navbar-links">
        <li class="navbar-item"><a class="navbar-link" href="/logout">Log out</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- Chat Container. -->
<div class="chat-container">
  <!-- Number of logged in users will be shows here. -->
  <div class="chat-users">
    <h1>Room {{ room.room_name }}</h1>
    {% for member in room_members %}
      <p class="user-name">{{ member._id.username }}</p>
    {% endfor %}
    <button type="button" name="button" id="load-older-messages-btn">Load Older Messages</button>
  </div>

  <!-- Chat area contains the chat msg area, input box and send button. -->
  <div class="chat-area">
    <!-- Messages will be shows here. -->
    <div class="chat-content-area" id="scroll">
      {% for object in messages %}
        <div class="user-msg">
          <p class="message"><b>{{ object.sender }}</b>: {{ object.text }}</p>
          <p class="msg-time">{{ object.send_time }}</p>
        </div>
      {% endfor %}
    </div>

    <!-- Container for input box and send button. -->
    <form class="input-box-btn">
      <input type="text" name="msg-input-box" class="msg-input-box" placeholder="Type a message">
      <button class="chat-send-btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
  </div>
</div>
{% endblock %}

{% block script_link %}
<script type="text/javascript" src="{{ url_for('static', filename='chat_room.js') }}"></script>
{% endblock %}
