{% extends 'base.html' %}

{% block css_link %}
<link rel='stylesheet' href="{{ url_for('static', filename='chat_room.css') }}">
{% endblock %}

{% block body %}
<!-- Navbar with a brand and a log out button. -->
<header id="navbar">
  <nav class="navbar-container container">
    <a class="navbar-brand" href="#">Chat Room</a>
    <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-menu">
      <ul class="navbar-links">
        <li class="navbar-item"><a class="navbar-link" href="/logout">Log out</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- Chat Container. -->
<div class="chat-container">
  <!-- Number of logged in users will be shows here. -->
  <div class="chat-users">
    {% for user in clients %}
      <p class="user-name">{{ user }}</p>
    {% endfor %}
  </div>

  <!-- Chat area contains the chat msg area, input box and send button. -->
  <div class="chat-area">
    <!-- Messages will be shows here. -->
    <div class="chat-content-area" id="scroll">
      {% for msg in messages %}
        <p class="user-msg">{{ msg }}</p>
      {% endfor %}
    </div>

    <!-- Container for input box and send button. -->
      <form class="input-box-btn" action="/chatroom" method="POST">
        <input type="text" name="msg-input-box" class="msg-input-box" placeholder="Type a message">
        <button class="chat-send-btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </form>
  </div>
</div>

{% endblock %}

{% block script_link %}
<script type="text/javascript" src="{{ url_for('static', filename='chat_room.js') }}"></script>
{% endblock %}
