{% extends 'base.html' %}

{% block css_link %}
<link rel='stylesheet' href="{{ url_for('static', filename='chat_room.css') }}">
{% endblock %}

{% block body %}

<script type="text/javascript">
  const socket = io();

  socket.on('connect', () => {
    socket.emit('join_room', {
    username: "{{ username }}",
    room: "{{ room._id }}"
    });


    let message_input = document.querySelector(".msg-input-box");
    document.querySelector(".input-box-btn").onsubmit = (e) => {
      e.preventDefault();
      let message = message_input.value.trim();
      if (message.length) {
          socket.emit('send_message', {
            username: "{{ username }}",
            room: "{{ room._id }}",
            message: message
        });
      };
      message_input.value = '';
      message_input.focus();
    };


    let page = 0;
    document.getElementById('load-older-messages-btn').onclick = (e) => {
      page += 1;
      fetch('/rooms/{{ room._id }}/history?page=' + page, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        response.json().then(messages => {
          messages.reverse().forEach(message => prepend_messages(message.text, message.sender, message.send_time))
        })
      })
    }


    function prepend_messages(message, username, send_time) {
      const newNode = document.createElement('div');
      newNode.className = "user-msg";
      newNode.innerHTML = `<div class="user-msg-message">
                            <p class="message"><b>${ username }</b>: ${ message }</p>
                           </div>
                           <div class="user-msg-time">
                             <p class="msg-time">${ send_time }</p>
                           </div>`
      const messages_div = document.querySelector('.chat-content-area')
      messages_div.insertBefore(newNode, messages_div.firstChild);
    }


    document.querySelector('.navbar_home_link').addEventListener('click', () => {
      socket.emit('leave_room', {
      username: "{{ username }}",
      room: "{{ room._id }}"
      });
    });
  });


  socket.on('receive_message', (data) => {
    const newNode = document.createElement('div');
    newNode.className = "user-msg";
    newNode.innerHTML = `<div class="user-msg-message">
                           <p class="message"><b>${ data.username }</b>: ${ data.message }</p>
                         </div>
                         <div class="user-msg-time">
                           <p class="msg-time">${ data.send_time }</p>
                         </div>`;
    document.querySelector('.chat-content-area').appendChild(newNode);
  });


  socket.on('join_room_announcement', (data) => {
    if (data.username.length) {
      const newNode = document.createElement('div');
      newNode.className = "user-msg";
      newNode.innerHTML = `<div class="user-msg-message">
                             <p class="message"><b>${ data.username }</b> has joined the chat!</p>
                           </div>`;
      document.querySelector('.chat-content-area').appendChild(newNode);
  }});


  socket.on('leave_room_announcement', (data) => {
    const newNode = document.createElement('div');
    newNode.className = "user-msg";
    newNode.innerHTML = `<div class="user-msg-message">
                           <p class="message"><b>${ data.username }</b> has left the chat!</p>
                         </div>`;
    document.querySelector('.chat-content-area').appendChild(newNode);
  });

</script>


<!-- Navbar with a brand and home and edit room link. -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Chat Room</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-item nav-link navbar_home_link" href="/home">Home</a>
        </li>
        {% if is_admin %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="/rooms/{{ room._id }}/edit">Edit Room</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Chat Container. -->
<div class="chat-container">
  <!-- Number of logged in users will be shows here. -->
  <div class="chat-users">
    <div class="chat-users-heading">
      <h2>Room {{ room.room_name }}</h2>
    </div>
    <div class="chat-users-users">
      {% for member in room_members %}
        <p class="user-name">{{ member._id.username }}</p>
      {% endfor %}
    </div>
    <div class="chat-users-btn">
      <button class="btn btn-secondary" type="button" name="button" id="load-older-messages-btn">Load Older Messages</button>
    </div>
  </div>

  <!-- Chat area contains the chat msg area, input box and send button. -->
  <div class="chat-area">
    <!-- Messages will be shows here. -->
    <div class="chat-content-area" id="scroll">
      {% for object in messages %}
        <div class="user-msg">
          <div class="user-msg-message">
            <p class="message"><b>{{ object.sender }}</b>: {{ object.text }}</p>
          </div>
          <div class="user-msg-time">
            <p class="msg-time">{{ object.send_time }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Container for input box and send button. -->
    <form class="input-box-btn">
      <input type="text" name="msg-input-box" class="msg-input-box" placeholder="Type a message">
      <button class="chat-send-btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
  </div>
</div>
{% endblock %}

{% block script_link %}
<script type="text/javascript" src="{{ url_for('static', filename='chat_room.js') }}"></script>
{% endblock %}
