{% extends 'base.html' %}

{% block css_link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='login_signup.css') }}">
{% endblock %}

{% block body %}
<div class="login_container">
  <div class="login_form_div">
    <div class="login_heading">
      <h2>Login</h2>
    </div>
    <div class="login_message">
      <p>{{ message }}</p>
    </div>
    <form class="login_form" action="/" method="POST">
      <div class="login_form_input_btns_div">
        <input type="text" name='username' placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="btn btn-primary btn-lg" type="submit" name="button">Login</button>
      </div>
      <div class="login_form_sign_up_link_div">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
