{% extends 'base.html' %}

{% block css_link %}
<link rel='stylesheet' href="{{ url_for('static', filename='banner_login.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
  <!-- Start screen banner -->
  <div class="banner">
    <h1 class="banner-heading">Welcome to Chat Room</h1>
    <div class="arrows-btn">
      <div class="arrow-left">
        <i class="fas fa-arrow-right"></i>
      </div>
      <button class="banner-btn">Get Started</button>
      <div class="arrow-right">
        <i class="fas fa-arrow-left"></i>
      </div>
    </div>
  </div>

  <!-- Form for inputing data -->
  <div class="form-container">
    <form class="sign-up-form" action='/chatroom'>
      <input type="text" name='username' class="form-input" id="form-name-space" placeholder="Name" required>
      <input type="text" name='room-number' class="form-input" id="form-name-space" placeholder="Room Number" required>
      <button type="submit" id="form-btn">Sign In</button>
    </form>

    <!-- Form header on the side -->
    <div class="header">
      <h1>Welcome To Chatroom</h1>
    </div>

    <!-- An X, acts as a button, which redirects us to the start screen banner -->
    <div class="x-btn">&#10005;</div>
  </div>
</div>
{% endblock %}

{% block script_link %}
<script type="text/javascript" src="{{ url_for('static', filename='banner_login.js') }}"></script>
{% endblock %}
